<ng-container *ngIf="!isFooter; else iconBookmark">
  <div class="mb-4">
    <a class="btn col bookmark-btn os-dark {{bookmark.styleClasses}}" [href]="bookmark.url">{{bookmark.name}}</a>
  </div>
</ng-container>

<ng-template #iconBookmark>
  <div class="text-center">
    <a class="btn footer-bookmark-btn d-flex" [href]="bookmark.url">
      <i class="m-auto {{bookmark.styleClasses}}"></i>
    </a>
    <div class="footer-bookmark-name">
      <small>{{bookmark.name}}</small>
    </div>
  </div>
</ng-template>
