.bookmark-btn {
  padding    : 4vh 0;
  font-family: Metal Lord;
  font-size  : 1.8vw;
}

.footer-bookmark-btn {
  height       : 50px;
  width        : 50px;
  border-radius: 50%;
  margin       : 5px;
  font-size    : 18pt;
}

small {
  color: #fff;
}