@import "../../../../assets/Less/Variables.less";

.main-container {
   margin: 1.5vh 0;

   h3 {
      margin        : 0;
      color         : @white;
      border-bottom : 2px solid @primary;
      padding-bottom: 0.35vh;

      @media (min-width: @popup-size) {
         font-size: 3.2vh;
      }

      @media (max-width: @popup-size) {
         font-size: 6vw;
      }
   }

   .currencies-container {
      margin : 1vh 0;
      display: inline-flex;

      .currency-container {
         display: inline-flex;
         margin : 0 0.5vh;

         .currency-sign-container {
            background-color : @primary;
            width            : 4vh;
            height           : 4vh;
            display          : inline-grid;
            -webkit-box-align: center;
            align-items      : center;

            b {
               color    : @white;
               font-size: 3vh
            }
         }

         .currency-value {
            color      : @white;
            align-self : center;
            margin-left: 0.5vh;
            font-size  : 2.2vh;
         }
      }
   }
}