<div class="main-container fade-in">
   <h3>Exchange Rates</h3>
   <div class="currencies-container">
      <div class="spinner-grow text-primary" *ngIf="isLoading">
         <span class="sr-only">Loading...</span>
      </div>
      <ng-container *ngIf="!isLoading">
         <div class="fade-in">
            <div class="currency-container">
               <div class="currency-sign-container">
                  <b>$</b>
               </div>
               <b class="currency-value">
                  {{exchangeRates.data.USD}}
               </b>
            </div>
            <div class="currency-container">
               <div class="currency-sign-container">
                  <b>€</b>
               </div>
               <b class="currency-value">
                  {{exchangeRates.data.EUR}}
               </b>
            </div>
            <div class="currency-container">
               <div class="currency-sign-container">
                  <b>£</b>
               </div>
               <b class="currency-value">
                  {{exchangeRates.data.GBP}}
               </b>
            </div>
            <div class="currency-container">
               <div class="currency-sign-container">
                  <b>¥</b>
               </div>
               <b class="currency-value">
                  {{exchangeRates.data.JPY}}
               </b>
            </div>
            <!-- <div class="currency-container">
               <div class="currency-sign-container">
                  <b>฿</b>
               </div>
               <b class="currency-value">
                  {{exchangeRates.data.BTC}}
               </b>
            </div> -->
         </div>
      </ng-container>
   </div>
</div>
