@blue : #007bff;
@indigo   : #6610f2;
@purple   : #6f42c1;
@pink     : #e83e8c;
@red      : #dc3545;
@orange   : #fd7e14;
@yellow   : #ffc107;
@green    : #28a745;
@teal     : #20c997;
@cyan     : #17a2b8;
@white    : #fff;
@gray     : #383838;
@gray-dark: #212121;
@primary  : #007bff;
@secondary: #383838;
@success  : #28a745;
@info     : #17a2b8;
@warning  : #ffc107;
@danger   : #dc3545;
@light    : #f8f9fa;
@dark     : #212121;

html,
body {
  display    : contents;
  height     : 100%;
  font-family: Bahnschrift;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid @success;
}

.ng-invalid:not(form) {
  border-left: 5px solid @danger;
}

app-home {
  .os-title {
    font-family            : Metal Lord;
    font-size              : 45pt;
    background             : -webkit-linear-gradient(#fff, #333);
    background-clip        : text;
    -webkit-text-fill-color: transparent;
  }

  .dark {
    background  : @dark;
    color       : @light;
    border-color: @light;

    &:hover,
    &:focus {
      box-shadow  : 0 0 10px @blue;
      background  : @dark;
      color       : @light;
      border-color: @blue;
    }
  }

  .btn {
    transition: 350ms;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.swal2-popup {
  background: @dark  !important;
  color     : @light  !important;
  box-shadow: 0 0 3px #ffffff30;

  button {
    transition: 350ms;
    background: @dark  !important;
    color     : @light;
    border    : 1px solid !important;

    &.swal2-cancel {
      border-color: @danger  !important;

      &:hover,
      &:focus {
        box-shadow: 0 0 10px @danger;
      }
    }

    &.swal2-confirm {
      border-color: @success  !important;

      &:hover,
      &:focus {
        box-shadow: 0 0 10px @success;
      }
    }
  }

  input {
    transition  : 350ms !important;
    background  : @dark  !important;
    color       : @light;
    border      : 1px solid !important;
    border-color: @primary  !important;
    box-shadow  : none !important;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px @primary  !important;
    }

    &.swal2-inputerror {
      border-color: @danger;

      &:hover,
      &:focus {
        box-shadow: 0 0 10px @danger  !important;
      }
    }
  }

  .swal2-progress-steps {

    .swal2-progress-step-line {
      background: lighten(@primary, 30%) !important;
    }

    .swal2-progress-step {
      background: lighten(@primary, 30%) !important;

      &.swal2-active-progress-step {
        background: @primary  !important;
      }
    }
  }

  .swal2-validation-message {
    background: fade(@danger, 5%);
  }
}


.ngx-contextmenu {
  ul {
    background: @dark;
    padding   : 0;
    border    : 1px solid @blue;

    li.divider {
      border : 1px solid @gray;
      padding: 0;
    }

    li {
      padding: 5px 5px;

      a {
        text-decoration: none;
        width          : 100%;
        height         : 100%;
        display        : block;
        padding        : 5px;
        margin         : 0;
        color          : @light;

        &:hover {
          background: @gray;
        }
      }
    }
  }
}

// Dragula CSS
.gu-mirror {
  position      : fixed !important;
  margin        : 0 !important;
  z-index       : 9999 !important;
  opacity       : 0.8;
  -ms-filter    : "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter        : alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select   : none !important;
  -ms-user-select    : none !important;
  user-select        : none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity   : 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter    : alpha(opacity=20);
}

// Dragula CSS End