@import "assets/Less/Variables.less";
@import "assets/Less/ToolTheming/Swal2.less";
@import "assets/Less/ToolTheming/Dragula.less";
@import "assets/Less/ToolTheming/ContextMenu.less";
@import "assets/FontAwesome/less/fontawesome.less";
@import "assets/FontAwesome/less/regular.less";
@import "assets/FontAwesome/less/solid.less";
@import "assets/FontAwesome/less/brands.less";
@import "assets/FontAwesome/less/v4-shims.less";

.blue {
  color: @blue  !important
}

.indigo {
  color: @indigo  !important
}

.purple {
  color: @purple  !important
}

.pink {
  color: @pink  !important
}

.red {
  color: @red  !important
}

.orange {
  color: @orange  !important
}

.yellow {
  color: @yellow  !important
}

.green {
  color: @green  !important
}

.teal {
  color: @teal  !important
}

.cyan {
  color: @cyan  !important
}

.white {
  color: @white  !important
}

.gray {
  color: @gray  !important
}

.gray {
  color: @gray  !important
}

.primary {
  color: @primary  !important
}

.secondary {
  color: @secondary  !important
}

.success {
  color: @success  !important
}

.info {
  color: @info  !important
}

.warning {
  color: @warning  !important
}

.danger {
  color: @danger  !important
}

.light {
  color: @light  !important
}

.dark {
  color: @dark  !important
}

.black {
  color: @black  !important
}

html,
body {
  display        : contents;
  height         : 100%;
  font-family    : Bahnschrift;
  background     : @default-background;
  background-size: 10px;
  min-width      : 350px;
  color          : white;
  user-select    : none;
}

.os-dark {
  background  : fade(@black, 40%);
  color       : @light;
  border-color: @light;
  transition  : @default-transition;

  &::placeholder {
    color      : fade(@white, 40%);
    text-shadow: none;
  }

  &:hover,
  &:focus {
    box-shadow  : 0 0 10px;
    background  : fade(@black, 70%);
    text-shadow : 0 0 20px;
    color       : @light;
    border-color: @white;
  }
}

.btn {
  transition: @default-transition;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid @success;
}

.ng-invalid:not(form) {
  border-left: 5px solid @danger;
}

.d-contents {
  display: contents;
}

.fade-in {
  animation: fadeIn 1s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}