@import "../../assets/Less/Variables.less";

.os-title {
   font-family            : Metal Lord;
   background             : -webkit-linear-gradient(@dark, @white, @dark);
   background-clip        : text;
   margin                 : 0;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke    : 1px fade(@white, 80%);
}

.extensions-container {
   display: inline-grid;
}

.z-9999 {
   z-index: 9999;
}

@media (min-width: 575px) {
   .os-title {
      font-size: 8vh;
   }
}

@media (max-width: 575px) {
   .os-title {
      font-size: 10vw;
   }
}