<div class="col-12 h-100">

  <br>
  <div class="offset-lg-3 col-lg-6 text-center">
    <h1 class="os-title">Otto Studio</h1>
  </div>
  <br>
  <div class="offset-lg-3 col-lg-6 text-center">
    <search-bar></search-bar>
    <div class="extensions-container">
      <div class="currencies-extension">
        <app-currencies></app-currencies>
      </div>
    </div>
  </div>

  <br>
  <div class="col-12">
    <div class="text-center row" dragula="BOOKMARKS" [(dragulaModel)]="bookmarkService.Bookmarks">
      <ng-container *ngIf="bookmarkService.Bookmarks">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6" *ngFor="let bookmark of bookmarkService.Bookmarks">
          <bookmark-button [contextMenu]="bookmarkContext" [contextMenuSubject]="bookmark" [bookmark]="bookmark"></bookmark-button>
        </div>
      </ng-container>
    </div>

    <div class="text-center row" style="margin-bottom: 80px">
      <div class="col-auto">
        <button class="btn btn-outline-light dark d-none-xs" (click)="createBookmark(false)"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>

  <div class="footer-bookmarks-container fixed-bottom mb-3">
    <div class="col-12">
      <div class="col-12">
        <div class="row">
          <div class="col">
            <div class="float-right">
              <div class="d-inline-flex align-items-center">
                <div class="d-inline-flex d-none-xs">
                  <button class="btn btn-outline-light dark" (click)="createBookmark(true)"><i class="fa fa-plus"></i></button>
                </div>
                <div class="d-inline-flex">
                  <ng-container *ngIf="bookmarkService.FooterBookmarks">
                    <div class="d-inline-flex ml-2 m-auto-xs w-auto-xs" dragula="FOOTER-BOOKMARKS" [(dragulaModel)]="bookmarkService.FooterBookmarks">
                      <bookmark-button [contextMenu]="footerBookmarkContext" *ngFor="let bookmark of bookmarkService.FooterBookmarks" [contextMenuSubject]="bookmark"
                                       [bookmark]="bookmark" [isFooter]="true">
                      </bookmark-button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<context-menu #bookmarkContext>
  <ng-template contextMenuItem (execute)="editBookmark($event.item)">
    Edit
  </ng-template>
  <ng-template contextMenuItem divider="true">
    <hr>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="deleteBookmark($event.item)">
    Delete
  </ng-template>
</context-menu>

<context-menu #footerBookmarkContext>
  <ng-template contextMenuItem (execute)="editBookmark($event.item, true)">
    Edit
  </ng-template>
  <ng-template contextMenuItem divider="true">
    <hr>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="deleteBookmark($event.item, true)">
    Delete
  </ng-template>
</context-menu>
